.App {
  /* text-align: center; */
}

.nav-bar{
  height: 70px;
  width: 100%;
  background-color: navy;
  color: white;
  font-size: 30px;
  padding: 10px 20px;
}

.container {
  padding: 20px;
}

.loading-wrapper{
  text-align: center;
}
.loading {
  animation: App-logo-spin infinite .5s linear;
  height: 50px;
}

.drug-data-loading {
  padding: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
